# 2023-02-10

# TODO: https://github.com/aquasecurity/trivy-action

name: trivy-03-image
on:
  push:
    branches:
      - main
      # - nonexistent  # avoid triggering on main
jobs:
  build:
    name: Trivy scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # - name: Build an image from Dockerfile
      #   run: |
      #     docker build -t docker.io/my-organization/my-app:${{ github.sha }} .

      - name: Run Trivy vulnerability scanner in image mode
        uses: aquasecurity/trivy-action@master
        with:
          # image-ref: 'docker.io/my-organization/my-app:${{ github.sha }}'
          image-ref: ubuntu:latest
          format: 'sarif'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy-results.sarif'
